<include file="Public:head"/>
<!-- BEGIN PAGE CONTENT-->

<div class="row">
    <div class="form-group">
        <label class="control-label col-md-3">Default Datepicker</label>
        <div class="col-md-3">
            <input id="datetimepicker" class="form-control form-control-inline input-medium date-picker" size="16" type="text" value=""/>
											<span class="help-block">
											Select date </span>
        </div>
    </div>
</div>


<!-- END PAGE CONTENT-->



<include file="Public:footer"/>

<script>
    $(function(){
        $('#date-datetimepicker').datepicker({
            language: 'zh-CN'
        });
    });


</script>