<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {:actionTitle()} <small></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{:U('Admin/Index/index')}">首页</a>
            <if condition="count($page_header) GT 0">
                <i class="fa fa-angle-right"></i>
            </if>
        </li>
        <volist name="page_header" id="vo">
            <li>
                <a href="{$vo.name}">{$vo.title}</a>
                <if condition="$i NEQ count($page_header)">
                    <i class="fa fa-angle-right"></i>
                </if>
            </li>
        </volist>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li>
                    <a href="#">Another action</a>
                </li>
                <li>
                    <a href="#">Something else here</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->