<!-- BEGIN USER LOGIN DROPDOWN -->
<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
<li class="dropdown dropdown-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" class="img-circle" src="__PUBLIC__/metronic/assets/admin/layout/img/avatar3_small.jpg"/>
					<span class="username username-hide-on-mobile">
					{:session('auth')['nick_name']} </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="extra_profile.html">
                <i class="icon-user"></i> 个人信息 </a>
        </li>
        <li>
            <a href="page_calendar.html">
                <i class="icon-calendar"></i> 个人日历 </a>
        </li>
        <li>
            <a href="inbox.html">
                <i class="icon-envelope-open"></i> 收件箱 <span class="badge badge-danger">
							3 </span>
            </a>
        </li>
        <li>
            <a href="page_todo.html">
                <i class="icon-rocket"></i> 待办任务 <span class="badge badge-success">
							7 </span>
            </a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="{:U('Public/lockScreen')}">
                <i class="icon-lock"></i> 锁屏 </a>
        </li>
        <li>
            <a href="{:U('Public/logOut')}">
                <i class="icon-key"></i> 登出 </a>
        </li>
    </ul>
</li>
<!-- END USER LOGIN DROPDOWN -->